In [22]:
# Dependencies
import requests
from config import api_key
import pandas as pd
from pprint import pprint

# import file
file_df = ("C:/Users/miesb/OneDrive/Desktop/grab_popcorn/Data/movies_metadata.csv/movies_metadata.csv")

#read file
movie_df = pd.read_csv(file_df, low_memory=False)

#sample data
movie_df.head()

,imdb_id,adult,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,tt0114709,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,Animation,http://toystory.disney.com/toy-story,862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,10/30/1995,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,tt0113497,FALSE,NaN,65000000,Adventure,NaN,8844,en,Jumanji,When siblings Judy and Peter discover an encha...,...,12/15/1995,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,tt0113228,FALSE,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,Romance,NaN,15602,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,12/22/1995,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,tt0114885,FALSE,NaN,16000000,Comedy,NaN,31357,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,12/22/1995,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,tt0113041,FALSE,"{'id': 96871, 'name': 'Father of the Bride Col...",0,Comedy,NaN,11862,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,2/10/1995,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [23]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                45449 non-null  object
 1   adult                  45466 non-null  object
 2   belongs_to_collection  4494 non-null   object
 3   budget                 45466 non-null  object
 4   genres                 43024 non-null  object
 5   homepage               7782 non-null   object
 6   id                     45466 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [108]:
print(movie_df['revenue'].head())

0    373554033
1    262797249
2            0
3     81452156
4     76578911
Name: revenue, dtype: int64

In [40]:
movie_df.drop(columns=['production_companies', 'production_countries'], inplace=True)

In [25]:
movie_df['popularity'] = pd.to_numeric(movie_df['popularity'], errors='coerce')

In [26]:
movie_df['id'] = pd.to_numeric(movie_df['id'], errors='coerce')

In [27]:
movie_df['tagline'] = movie_df['tagline'].dropna(inplace=True)

In [34]:
movie_df['adult'] = movie_df['adult'].astype(bool)

In [35]:
movie_df['video'] = movie_df['video'].astype(bool)

In [ ]:
movie_df['release_date'] = pd.to_datetime(movie_df['release_date'], errors='coerce')

In [41]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                45449 non-null  object
 1   adult                  45466 non-null  bool
 2   belongs_to_collection  4494 non-null   object
 3   genres                 43024 non-null  object
 4   id                     45463 non-null  float64
 5   original_language      45455 non-null  object
 6   original_title         45466 non-null  object
 7   overview               44512 non-null  object
 8   popularity             45460 non-null  float64
 9   release_date           45298 non-null  datetime64[ns]
 10  revenue                45460 non-null  float64
 11  runtime                45203 non-null  float64
 12  status                 45379 non-null  object
 13  tagline                0 non-null      object
 14  title                  45460 non-null  object
 15  video                  45466 non-null  bool
 16  vote_average           45460 non-null  float64
 17  vote_count             45460 non-null  float64
dtypes: bool(2), datetime64[ns](1), float64(6), object(9)
memory usage: 5.6+ MB

In [42]:
movie_df.to_csv('movie_data.csv', index=False)

In [43]:
movie_df.head()

,imdb_id,adult,belongs_to_collection,genres,id,original_language,original_title,overview,popularity,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count
0,tt0114709,True,"{'id': 10194, 'name': 'Toy Story Collection', ...",Animation,862.0,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,None,Toy Story,False,7.7,5415.0
1,tt0113497,True,NaN,Adventure,8844.0,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,None,Jumanji,False,6.9,2413.0
2,tt0113228,True,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",Romance,15602.0,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,1995-12-22,0.0,101.0,Released,None,Grumpier Old Men,False,6.5,92.0
3,tt0114885,True,NaN,Comedy,31357.0,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,None,Waiting to Exhale,False,6.1,34.0
4,tt0113041,True,"{'id': 96871, 'name': 'Father of the Bride Col...",Comedy,11862.0,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,None,Father of the Bride Part II,False,5.7,173.0